@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Hind+Guntur:wght@300;400;500;600;700&display=swap");

:root {
  --ff-body: "Hind Guntur", sans-serif;
  --ff-gamepiece: "Architects Daughter", sans-serif;

  --fs-body: 1rem;
  --fs-subheading: 1.2rem;
  --fs-heading: 2rem;
  --fs-gamepiece: 3.5rem;

  --fw-body: 300;
  --fw-subheading: 500;
  --fw-heading: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-body);
  background-color: cornsilk;
}

.cell {
  width: 75px;
  height: 75px;
  border: 2px solid black;
  box-shadow: 0 0 0 2px;
  line-height: 75px;
  cursor: pointer;
  font-family: var(--ff-gamepiece);
  font-size: var(--fs-gamepiece);
}

#gameContainer {
  text-align: center;
}

#cellContainer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 225px;
  margin: auto;
}
