@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Hind+Guntur:wght@300;400;500;600;700&display=swap");

:root {
  --ff-body: "Hind Guntur", sans-serif;
  --ff-gamepiece: "Architects Daughter", sans-serif;

  --fs-body: 1rem;
  --fs-subheading: 1.2rem;
  --fs-heading: 2rem;
  --fs-gamepiece: 3.5rem;

  --fw-body: 300;
  --fw-subheading: 500;
  --fw-heading: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-body);
  background-color: cornsilk;
}

.cell {
  width: 75px;
  height: 75px;
  border: 2px solid black;
  box-shadow: 0 0 0 2px;
  line-height: 75px;
  cursor: pointer;
  font-family: var(--ff-gamepiece);
  font-size: var(--fs-gamepiece);
}

#gameContainer {
  text-align: center;
}

#cellContainer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 225px;
  margin: auto;
}

button {
  background-color: initial;
  background-image: linear-gradient(#8614f8 0, #760be0 100%);
  border-radius: 5px;
  border-style: none;
  box-shadow: rgba(245, 244, 247, 0.25) 0 1px 1px inset;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: var(--ff-body);
  font-size: 16px;
  font-weight: 500;
  height: 60px;
  line-height: 60px;
  margin: 20px -4px 0px 0px;
  outline: 0;
  text-align: center;
  transition: all 0.3s cubic-bezier(0.05, 0.03, 0.35, 1);
  width: 190px;
}

button:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1000px) {
  button {
    font-size: 14px;
    height: 55px;
    line-height: 55px;
    width: 150px;
  }
}
